@keyframes animatedGradient {
  to {
    transform: rotate(360deg);
  }
}

@keyframes animatedPetal {
  20%,
  70% {
    transform: rotate(-30deg);
  }
  0%,
  50%,
  100% {
    transform: rotate(30deg);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translate(0%, 0%) scale(1);
    opacity: 0.8;
  }

  20%,
  70% {
    transform: translate(35%, 58%) scale(0.9);
    opacity: 1;
  }

  50% {
    transform: translate(15%, -18%) scale(1.2);
    opacity: 1;
  }
}

.running-line:hover .running-line__text {
  animation-play-state: paused;
}

@keyframes running-line {
  0% {
    transform: translateX(100%); /* Начальная позиция за пределами экрана */
  }
  100% {
    transform: translateX(-100%); /* Конечная позиция за пределами экрана */
  }
}

@keyframes star1 {
  0% {
    transform: translateY(0);
}
50% {
    transform: translateY(-10%);
}

100% {
    transform: translateY(0);
}
}

@keyframes updown {
  0% {
    transform: translateY(0);
}
50% {
    transform: translateY(-100px);
}
100% {
    transform: translateY(0);
}
}

@keyframes le1 {
  0% {
    transform: translateX(-10);
}
20% {
    transform: translateX(-15vw);
}
60% {
    transform: translateX(-30vw);
}
100% {
    transform: translateX(-10);
}
}

@keyframes le2 {
  0% {
    transform: translateX(10);
}
20% {
    transform: translateX(15vw);
}
60% {
    transform: translateX(30vw);
}
100% {
    transform: translateX(10);
}
}

@keyframes people {
  0%, 100% {
    transform: translate(0, 0);
}
25% {
    transform: translate(-22%, -55%);
}
50% {
    transform: translate(20%, 0);
}
75% {
    transform: translate(-22%, -55%);
}
}

@keyframes flask {
  0%, 100% {
    transform: translate(0, 0);
}
25% {
    transform: translate(22%, 55%);
}
50% {
    transform: translate(-20%, 0);
}
75% {
    transform: translate(22%, 55%);
}
}